<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>


<p>
  <strong>Specialty:</strong>
  <%= @doctor.specialty %>
</p>

<p>
  <strong>Accepts insurance:</strong>
  <%= @doctor.accepts_insurance %>
</p>

<p>
  <%= image_tag @doctor.photo_url, width: 200 %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
