<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
